# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.NEXT_PUBLIC_EDITOR_PASSWORD= clubsecret
NEXT_PUBLIC_SUPABASE_URL= https://oeybvatgcnoygcgluyhb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9leWJ2YXRnY25veWdjZ2x1eWhiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg2Mjc3MDQsImV4cCI6MjA4NDIwMzcwNH0.uRzxob05RHsKZZS6T5-eFiWJOhszoCd1bYARxdTz-lw
log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
